fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
mercadopago
qrcode
crcmod
bcrypt
itsdangerous
python-dotenv
jinja2
resend>=2.4.0
python-multipart==0.0.9
pillow==10.4.0













